body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(35, 102, 247);
}

.navbar {
    background-color: aquamarine;
    display: grid;
}


.container {
    background-color: rgb(255, 174, 0);
    width: 500px;
    border-color: black;
    margin-left: 30%;

}

h1 {
    font-weight: 700;
}

.home {
    margin-left: auto;
}